h1{
    font-style: italic;
    font-size: 40pt;
    text-align: center;
    margin-top: 50px;
}
a{
    font-size: 24pt;
    margin-left: 50%;
}
div{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/not-found.png');
    background-size: cover;
}