<html>
<body>
    <h2>Counter:</h2>
        <h3> <%= count.val %></h3>
    
    <form action="/2counter" method="get">
    <input type="submit" value="addTwo">
    </form>

    <form action="/reset" method="get">
        <input type="submit" value="reset">
        </form>
   
</body>
</html>