<html>
<body>
    <h2> Users Details</h2>

        <h3>Name: <%= data.name %></h3>
        <h4>Location: <%= data.location %></h4>
        <h3>language: <%= data.language %></h3>
        <h4>Comments: <%= data.comment %></h4>
        <hr>
    <% } %>
</body>
</html>